@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

<h3>@ViewBag.Team</h3>
<table class="table table-hover table-bordered table-dark">
    <tr>
        <th>First Name</th>
        <th>M.I.</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Phone</th>
    </tr>
    @foreach (var x in Model.Bowlers)
    {
        <tr>
            <td>@x.BowlerFirstName</td>
            <td>@x.BowlerMiddleInit</td>
            <td>@x.BowlerLastName</td>
            <td>@x.BowlerAddress</td>
            <td>@x.BowlerCity</td>
            <td>@x.BowlerState</td>
            <td>@x.BowlerZip</td>
            <td>@x.BowlerPhoneNumber</td> 
        </tr>
    }
</table>

<div page-info="@Model.PageNumberingInfo" page-url-team="@Model.Team">

</div>

